<div class="head-container">
  <!-- Ліва частина: Фото -->
  <div class="photo-block">
    <img src="assets/myphoto.jpg" alt="My Photo" class="profile-photo" />
    <div class="overlay">
      <div class="text-block">
        <div class="name">BRIAN S.</div>
        <div class="surname">NEAL</div>
        <div class="position">GRAPHIC & WEB DESIGNER</div>
      </div>
    </div>
  </div>

  <!-- Права частина: Про себе + Нагороди -->
  <div class="info-block">
    <div class="section-title-box">ABOUT ME</div>
    <button routerLink="/registration" class="nav-button"><img class="other" src="assets/log-in.png"></button>
    <p class="section-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
    </p>


    <div class="section-title-box">AWARDS</div>
    <div class="awards-columns">
      <div class="award-item">
        <div class="award-title">BEST UI DESIGNER AWARD</div>
        <div class="award-company">COMPANY NAME</div>
        <div class="award-period">2015 – 2016</div>
        <p class="award-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
        </p>
      </div>
      <div class="award-item">
        <div class="award-title">BEST UX DESIGNER AWARD</div>
        <div class="award-company">COMPANY NAME</div>
        <div class="award-period">2017 – 2018</div>
        <p class="award-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
        </p>
      </div>
    </div>
  </div>
</div>

